{% extends "boilerplate.html" %}

{% block title %}
	Amministratore
{% endblock %}

{% block css %}
	<link rel="stylesheet" href="static/css/bootstrap.min.css">
	<link rel="stylesheet" href="static/css/bootstrap-theme.css">

{% endblock %}

{% block content %}

	{% raw %}
		<div class="container" ng-app>

			<div ng-controller="DoctorsCtrl" ng-show="is_backend_ready">
				<h2>Doctores por enviar</h2>
				<table class="table">
					<tr>
						<th>Nombre completo</th>
						<th>Especialidades</th>
						<th>Correo</th>
						<th></th>
					</tr>
					<tr ng-repeat="doctor in doctors | filter:{sent:false}">
						<td>{{doctor.full_name}}</td>
						<td>{{doctor.specialities}}</td>
						<td>{{doctor.email}}</td>
						<td>
							<button type="button" class="btn btn-primary" ng-click="send_email(doctor)">Enviar encuesta</button>
						</td>
					</tr>
				</table>

				<h2>Doctores enviados</h2>
				<table class="table">
					<tr>
						<th>Nombre completo</th>
						<th>Especialidades</th>
						<th>Correo</th>
						<th>Encuesta abierta</th>
						<th></th>
					</tr>
					<tr ng-repeat="doctor in doctors | filter:{sent:true}">
						<td>{{doctor.full_name}}</td>
						<td>{{doctor.specialities}}</td>
						<td>{{doctor.email}}</td>
						<td>
							<span class="glyphicon glyphicon-ok" ng-show="doctor.poll_open"></span>
							<span class="glyphicon glyphicon-remove" ng-show="!doctor.poll_open"></span>
						</td>
					</tr>
				</table>

			</div>

		</div>

	{% endraw %}



{% endblock %}

{% block js %}
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.10/angular.min.js"></script>
	<script src="static/js/doctors.js"></script>
	<script src="https://apis.google.com/js/client.js?onload=init_endpoints"></script>
{% endblock %}